body {
    margin: 0;
}

.title-container {
    background-color: rgb(158, 195, 204);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    height: 250px;
    position: relative;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}


