<%- include("header.ejs") %>

<div class="menu-container">
    <h1 class="menu-title">Game Menu</h1>
    <ul class="game-menu">
        <li class="game"><a href="">Rock, Paper, Scissors</a></li>
        <li class="game"><a href="">Tic Tac Toe</a></li>
        <li class="game"><a href="">Blackjack</a></li>
        <li class="game"><a href="">Simon Says</a></li>
    </ul>
</div>

<%- include("footer.ejs") %>