<%- include("header.ejs") %>

<h1>Rock, Paper, Scissors</h1>
<a href="/">Home</a>

<div class="userMoves">
    <div class="move-item">
        <label for="Rock">Rock</label>
        <input type="radio" name="userMove" value="Rock">
    </div>
    <div class="move-item">
        <label for="Paper">Paper</label>
        <input type="radio" name="userMove" value="Paper">
    </div>
    <div class="move-item">
        <label for="Scissors">Scissors</label>
        <input type="radio" name="userMove" value="Scissors">
    </div>
    <button class="move-btn" onclick="startGame()">Start</button>
</div>

<div class="computerMove-container">
    <p class="computerMove-title compMove-item">Computer Move:</p>
    <p class="compMove compMove-item" id="compMove"></p>
</div>

<div class="result-container">
    <p class="result-title result-item">Result: </p>
    <p class="result result-item" id="result"></p>
</div>


<script src="rockPaperScisssors.js"></script>
<%- include("footer.ejs") %>