body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-container {
    background-color: rgb(158, 195, 204);
    width: 90%;
    height: 300px;
    margin: auto;
    position: relative;
    top: 50px;
}

.menu-title {
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

.game-menu {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.game {
    list-style-type: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 25px;
    text-align: center;
    flex: 25%;
}

.userMoves {
    position: relative;
    top: 50px;
}

.move-item {
    padding-top: 20px;
}

.move-btn {
    margin-top: 20px;
}

.computerMove-container {
    position: relative;
    top: 100px;
}

.compMove-item {
    display: inline;
}

.result-container {
    position: relative;
    top: 100px;
}

.result-item {
    display: inline;
}